.pricelist {
    margin-top: 60px;
    &__wrapper {
        margin: 0 50px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 355px);
        grid-template-rows: repeat(3, 45px);
        justify-content: space-between;
        gap: 15px;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(21px, auto));
        position: relative;
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            &:before {
                left: -25px;
                content: '';
                top: 25%;
                transform: translateY(-50%);
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
            }
        }
        &-price {
            text-align: right;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;      
        }
        &-descr {
            grid-column: 1 / 3;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }

}